<h3>Profile</h3>
<div class='media'>
	<% if @user.provider.nil? %>
		no pic
	<% else %>
		<%= image_tag @user.get_profile_picture, class: 'pull-left' %>
	<% end %>
	<div class='media-body'>
		Name: <%= @user.name %> 
		<br />
		Email: <%= @user.email %>
	</div>
</div>

<h3>Outings</h3>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Course</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.outings.each do |outing| %>
      <tr>
        <td><%= outing.start_time %></td>
        <td><%= outing.course %></td>
        <td><%= link_to outing.creator.email, user_path(outing.creator)%></td>
        <td><%= link_to 'Show', outing %></td>
        <td><%= link_to 'Edit', edit_outing_path(outing) %></td>
        <td><%= link_to 'Destroy', outing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>