<%= simple_form_for(@outing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :title, class: 'form-control',  placeholder: "Title"  %>
  	<%= f.input :description, class: 'form-control',  placeholder: "Description"  %>
    <%= f.input :start_time, class: 'form-control',  placeholder: "Start Time"  %>
    <%= f.input :course, class: 'form-control',  placeholder: "Course Name"  %>
    <%= f.input :wanted_num_players, class: 'form-control',  placeholder: "Wanted Players"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary'%>
  </div>
<% end %>