<h1>Listing outings</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>Course</th>
      <th>Number of players</th>
      <th>Number of open slots</th>
      <th>Creator</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @outings.each do |outing| %>
      <tr>
        <td><%= link_to outing.title, outing_path(outing) %></td>
        <td><%= outing.description %></td>
        <td><%= outing.start_time %></td>
        <td><%= outing.course %></td>
        <td><%= outing.player_outings.count %></td>
        <td><%= 4 - outing.player_outings.count %></td>
        <td><%= link_to outing.creator.display_name, user_path(outing.creator)%></td>
        <% if outing.player_outings.select {|o| o.user == current_user}.empty? %>
          <td><%= link_to 'Join', { controller: "outings", action: "join", id: outing}, method: :post, class: 'btn btn-primary' %></td><td></td><td></td>
        <% else %>
          <td><%= link_to 'Unjoin', { controller: "outings", action: "unjoin", id: outing}, method: :post, class: 'btn btn-danger' %></td><td></td><td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outing', new_outing_path %>
