<p id="notice"><%= notice %></p>

<h2>Details</h2>
<h3><%= @outing.title %></h3>
<p>
<h5><%= @outing.description %></h5>
<p>
  <strong>Start time:</strong>
  <%= @outing.start_time %>
</p>

<p>
  <strong>Course:</strong>
  <%= @outing.course %>
</p>

<h3>Players</h3>
<ul>
<% @outing.player_outings.each do |player_outing| %>
 	<li><%= link_to player_outing.user.display_name, user_path(player_outing.user) %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_outing_path(@outing) %> |
<%= link_to 'Back', outings_path %>
