<div class='row'>
<div class='col-sm-4'></div>
<div class='col-sm-4'>
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email, required: true, autofocus: true, class: 'form-control', label: false, placeholder: "Email" %>
    <%= f.input :password, required: true, class: 'form-control', label: false, placeholder: "Password" %>
    <%= f.input :password_confirmation, required: true, class: 'form-control', label: false, placeholder: "Confirm Password" %>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class='col-sm-4'></div>
